@import "../../.cache/wal/colors.scss";

* {
  all: unset;
  font-family: JetBrains Mono Nerd Font;
  color: $foreground;
}

// Global Styles
.bar {
  background-color: rgba(0, 0, 0, 0%);
  padding-top: 6px;
}

.bar_class {
  background-color: rgba(0, 0, 0, 0%);
}

.sys_tray {
  background-color: rgba(255, 255, 255, 100%);
  color: $foreground;
}

.time {
  margin-right: 20px;
}


.volume_class {
  color: $foreground;
}

scale trough {
  all: unset;
  background-color: $color3;
  border-radius: 50px;
  min-height: 10px;
  min-width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

scale trough highlight {
  all: unset;
  border-radius: 12px;
  background-color: $color5;
}

.volume_icon {
  font-size: 20px;
  color: $foreground;
  margin-left: 10px;
}

.volbar {
  margin-left: 10px;
}

.mic_icon {
  color: $foreground;
  font-size: 20px;
  margin-left: 5px;
}

.leftstuff {
  margin-left: 20px;
}

.icon {
  background-color: $background;
  color: #1793d0;
  font-size: 20px;
  padding-right: 13px;
  padding-left: 8px;
  border-radius: 12px;
}

.active-window {
  background-color: $background;
  margin-left: 0px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 12px;
}

.music {
  color: $foreground;
  background-color: $background;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

.rightstuff {
  color: $foreground;
  background-color: $background;
  border-radius: 12px;
  margin-right: 20px;
}

.workspaces-widget {
  background-color: rgba(0, 0, 0, 100%);
}

.workspace-entry {
  padding: 0px 8px;

  &.occupied-right {
    background-color: rgba($color10, 0.9);
    border-radius: 0px;
  }

  &.occupied-center {
    background-color: rgba($color10, 0.9);
    border-radius: 0px;
  }

  &.occupied-left {
    background-color: rgba($color10, 0.9);
    border-radius: 0px;
  }

  &.occupied label {
    color: $foreground;
  }

  &.empty {
    background-color: rgba($color3, 0.2);
  }

  &.empty label {
    color: rgba($color7, 0.7);
  }

  &.current {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: $color1;
    color: $color0;
  }
}
